/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/* Link and List Styling */
a, li{
     text-decoration: none;
     list-style: none;
}


/******************************************
/* BASE STYLES
/*******************************************/
html{
     scroll-behavior: smooth; 
}

body {
     font-size: 18px;
     font-family: "Inter";
}


/******************************************
/* LAYOUT
/*******************************************/
header,footer {
     
     
}
/* /* FONT STYLES  *+++++++++++++++++++++++++++++++// */
.helv-h1-text,
.helv-subheading,
.helv-title {
     font-family: "Helvetica Neue", serif;
     font-optical-sizing: auto;
     font-style: normal;
}

.helv-h1-text, .helv-subheading {
     display: inline;
     margin: 0;
}

.helv-h1-text{
     font-weight: 700;
     font-size: 2.5rem;
     padding-right: 6px;
     
}
.helv-subheading{
     font-weight: 500;
     font-size: 1.75rem;
     padding-right: 6px;
     line-height: 1.43;  
}

.helv-title{
     font-weight: 500;
     border: 2px solid black;
}

.inter-body-text {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* NAVBAR STYLES */
/* ++++++++++++++++++++++++++++++++++++ */
.navbar {
     display: flex;
     align-items: baseline;
     justify-content: space-between;
     height: 80px;
     padding: 20px;
     position: relative;

    
     position: sticky;
     top: 0; /* This makes the navbar stick to the top */
     z-index: 1000; /* Ensures it stays above other content */
     background-color: white; /* Optional: keeps background visible if other content scrolls under it */
      
}

.name {
     font-family: "Helvetica Neue";
     font-size: 2.00rem;
     font-weight: 800; 
     white-space: nowrap;
}

/* Align nav-links horizontally in larger viewports +++++++++++++*/

.nav-links{
     display: flex;
     gap: 20px;
     font-family: "Helvetica Neue";
     font-size: 1.5rem;
     margin: 0;
     padding: 0;
}

.nav-links li{
     font-size: 1.5rem;
     cursor: pointer;
}
/* hidden by default */
.hamburger {
     display: none;
     font-size: 2.5rem;
     background: none;
     border: none;
     cursor: pointer;
     position: absolute;
     right: 20px;
     top: 50%;
     transform: translateY(-56%);
}
/* Intro container */
.intro-container{
     padding-top: 75px;
     padding-left: 20px;
     padding-right: 20px;
     width: 75%;
}

.bio{
     display: inline;
     font-size: 1.25rem;
     line-height: 2;
}
/* Master container for all projects */
.project-section-container, 
.about-section-container, 
.contact-section-container {
     padding-top: 100px;
     padding-left: 20px;
     padding-right: 20px;
}

/* individual projects */
.project-container {
     padding-top: 25px;
}

a{
     color: black;
}

.project-p{
     line-height: 1.25;
     font-weight: 400;
}
.project-image-container{
     width: 100%;
     max-width: 100%;
     margin: 20px auto 0;
     text-align: center;
     padding-top: 50px;
}
.project-image-container img{
     width: 100%;
     height: auto;
     display: block;
     max-width: 700px;
     
}
/* ++++++++++++++++++++++++++++++++++++++++++++ */
/* contact form styling ===================*/
/* ++++++++++++++++++++++++++++++++++++++++++++ */

*:focus {
	outline: 0;
}

/* Add styles to 'container' class */

.container {
	padding: 12px 24px 24px 24px;
	margin: 48px 12px;
	border: 3px solid black;
	background: white;
	
}

/* Add styles to 'label' selector */

label {
	font-size: 1em;
	margin-left: 0;
}

/* Add styles to 'input' and 'textarea' selectors */

input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */

input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 4.5px dashed green;
}

/* Add styles to the submit button */

input[type=submit] {
	background: black;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */

input[type=submit]:focus {
	
}

/* Style 'hover' property */

input[type=submit]:hover {
	background: white;
     color: green;
     border: 4.5px dashed green;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}

/******************************************
/* ADDITIONAL STYLES /// RESPONSIVE 
/*******************************************/
@media (max-width: 675px) {
     .nav-links {
          display: none;
          flex-direction: column;
          gap: 20px;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;
          padding: 40px 20px;
          justify-content: center;
          align-items: center;
          box-shadow: 0 2px 10px rgba(0,0,0,.2);
          z-index: 10;
          
     }
     .close-btn{
          position: absolute;
          top: 20px;
          right: 20px;
          font-size: 3rem;
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
     }
     .hamburger {
          display: block;
     }
     .nav-links li {
          font-size: 3rem;
          line-height: 1;
     }
     .nav-links li:first-child {
          margin-top: -10px;
     }

     .nav-links.active {
          display: flex;
     }
     .overlay {
          display: none;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.5);
          z-index: 5;
          
     }
     .overlay.active {
          display: block;
     }
}

@media(min-width: 676px) {
     .close-btn {
          display: none;
     }
}